/* 로그인 */

button {
  display: block;
  width: 50%;
 
}

button:hover {
  background-color: #8400af;
}

.ddd {
  width: 50%;
  margin: 0 auto;
}
.pollImg {
  width: 200px;
  height: 200px;
}
.mainbody {
  padding: 0 50px;
}
